.bg-kademina{
    background-color: #021836;
}

.btn-outline-kademina {
    --bs-btn-color: #021836;
    --bs-btn-border-color: #021836;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #021836;
    --bs-btn-hover-border-color: #021836;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #021836;
    --bs-btn-active-border-color: #021836;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #021836;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #021836;
    --bs-gradient: none;
}